:root{
    --footerHeight: 1rem;
    --width: 14rem;
}

.widgets-cfooter{
    background: #2C2D2E;
    height: var(--footerHeight);
    & .footer-content{
        line-height: var(--footerHeight);
        max-width: var(--width);
        overflow: hidden;
    }
    & .footer-content__logo{
        float: left;
    }
    & .footer-content__nav{
        float: right;
        & li{float:left;}
    }

}
