@import "neat.css";
:root{
    --width: 14rem;
}

body{
    background-color: #f8f8f8;
    color: #fff;
    font-size: 0.18rem;
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}
.invisible {
    visibility: hidden!important;
}
.hidden{
    display: none!important;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.flex-v { display:flex; flex-direction:column; }
.flex-h { display:flex; flex-direction:row; }
.flex-h-center { display:flex; align-items: center; flex-direction:row;}
.flex-item {
    flex:1;
    -webkit-flex:1;
    flex-grow:1;
    flex-shrink:1;
    flex-basis:0;
}

@media screen {

}
