<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1">
    <title>{% block title %}{% endblock  %}</title>
    <!--inject css-->
    {% block head %}{% endblock  %}
    <script>
        init();
        window.onresize = init;
        function init(){
            document.documentElement.style.fontSize =
                    document.documentElement.clientWidth / 13.3 + 'px';
            console.log(document.documentElement.clientWidth);
        }
    </script>
</head>
<body class="flex-v">
<!--{% include "../../widgets/cheader/cheader.html"%}-->

{% block content %}{% endblock  %}

{% include "../../widgets/cfooter/cfooter.html"%}

<!--inject js-->
{% block scripts %}{% endblock  %}
</body>
</html>
