:root{
    --width: 14rem;
}
.index-banner{
    position: relative;
    height: 6.75rem;
    background: url("images/1.jpg") no-repeat center;
    background-size: cover;
}
.index-banner__top{
    max-width:var(--width);
    height: 0.4rem;
    margin: 0 auto;
    padding: 0 0.1rem;
    font-size: 0.16rem;
    border-bottom: 1px solid #8e908c;
}
.index-banner__logo{
    max-width:var(--width);
    height: 0.6rem;
    margin: 0 auto;
    padding: 0 0.1rem;
}
.index-banner__logo h1{
    font-size: 0.2rem;
}
.index-banner__nav li{
    float: left;
    padding: 0 0.2rem;
}